<launch>
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <param name="parameter_ns" type="string" value="optional_parameter_namespace" />
    <rosparam ns="optional_parameter_namespace" command="load" file="$(find right_arm_ik_config)/config/robot_config.yaml" />
  </node>

</launch>